{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="login.css">
  <title>Task Manager | Welcome</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
  <div class="container">
      <div class="card-container">
          <h1>Provide you details to proceed</h1>
            <form class="form_section" id='login_form' action="" method="post">
                {% csrf_token %}
              <input type="email" name="email" id="email" placeholder="Email e.g. john@example.com" required>
              <input type="password" name="password" id="password" placeholder="password" required>
                <div class="links_container">
                    <a href="">Forgot password</a>
                    <a href="{% url 'register_page' %}">Create Account</a>
                </div>

              <button class="continue_btn" type="submit">Continue</button>
            </form>
      </div>

  </div>
</body>
</html>